.button-container {
  width: 85%;
  margin: 10px auto;
}

.btn {
  border: white 1px solid;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  border-radius: 2px;
}

.btn:hover {
  outline: solid rgb(255, 255, 255);
  image-rendering: auto;
  image-rendering: crisp-edges;
    -webkit-filter: contrast(1.25);
  filter: contrast(1.25);
}

.btn-bluegreen {
  background-color: #244a80;
  color: rgb(255, 255, 255);
}