.card-container {
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(0, 0, 0);
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background: linear-gradient(
    to bottom, black, rgb(75, 129, 255)
  );
}

img {
  height: auto;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin: 0;
  color: rgb(0, 0, 0);
}

.card-container:hover {
  outline: solid 5px rgb(255, 255, 255);
  image-rendering: auto;
  image-rendering: crisp-edges;
    -webkit-filter: contrast(1.25);
  filter: contrast(1.25);
}