.cardsall {
  width: 85%;
  height: max-content;
  margin: 10px auto;
  display: grid;
  column-count: auto;
  grid-template-columns: repeat( auto-fit, minmax(275px, 1fr) );
  grid-gap: 10px;
  margin-left: auto;
  margin-right: auto;
}