.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  margin-bottom: 1rem;
  font-size: xx-large;
  color: rgb(255, 255, 255);
  background:  rgb(11, 6, 37);
  margin: -30px;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
}