body {
  margin: 0;
  font-family: 'Josefin Slab', serif;
  font-size: larger;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to top, rgb(19, 31, 61), rgb(11, 6, 37)
  );
};

code {
  font-family: 'Josefin Slab', serif;
}